body{
  margin: 0;
  padding: 0;  
}
.header{
    background-image: url(../img/надпис.png), url(../img/фон.png);
    background-repeat: no-repeat;
	height: 100vh;
	background-size: 969px 206px, cover;
	background-position: 50% 30%;
    /*background-repeat: no-repeat;
    background-size: 70% 20%, 100%;
    background-position: 55% 22%, left top;
    min-height: 90vh;*/
}
.block{
    margin: 0 auto;
    text-align: center;

}
.napis{
    width: 304px;
    height: 48px;
    left: 112px;
    top: 732px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 32px;
    padding-left: 140px;
}

.card> div{
    width: 400px;
    height: 460px;
    left: 112px;
    top: 812px;
    background: #231B0C;
    display: inline-block;
    margin-top: 32px;
    margin-left: 38px;
}

.name{
    padding-top: 37px;
 }
 .pict{
    padding-top: 100px;
 }

.foto{
   
}
.foto1{
    width: 1239px;
    height: 595px;
    text-align: center;
    margin: 32px auto;
}

.background{
    width: 100%;
    height: 279px;
    left: -1px;
    top: 1948px;
    background: #150F02;
    margin-top: 40px;
}
.first-block, .second-block{
    padding-top: 39px;
    padding-left: 400px;
}
.fbk2{
    padding-left: 400px;
}
.sbk2{
    padding-left: 450px;
}
h4{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
text-align: center;
}
.line{
    text-align: center;
    padding-top: 0px;
}